<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Desenvolvimento de Sistemas Computacionais - Exemplo de MVC com Spring Framework e Thymeleaf</title>
</head>

<body>
	<nav>
		<a href="/">Home</a> |
		<a href="/games">Cadastrar Jogo</a> |
		<a href="/games/list">Lista de Jogos</a>
	</nav>
	<hr>

	<h1>Deletar</h1>

		<form th:action="@{/games/delete}" th:object="${game}" method="post">
			<div>
				<label th:for="title">Título:</label>
				<input type="text" th:field="*{title}" placeholder="Título do jogo" required="required">
			</div>

			<div>
				<button type="submit">Enviar</button>
			</div>
		</form>
</body>

</html>